{% extends "layout.html" %}
{% from "_formhelpers.html" import render_field %}
{% block main_panel %}
<nav class="navbar navbar-transparent navbar-absolute">
    <div class="container-fluid">
        <div class="navbar-minimize">
            <button id="minimizeSidebar" class="btn btn-round btn-white btn-fill btn-just-icon">
                <i class="material-icons visible-on-sidebar-regular">more_vert</i>
                <i class="material-icons visible-on-sidebar-mini">view_list</i>
            </button>
        </div>
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <p class="navbar-brand"> Tweet </p>
        </div>
        <div class="collapse navbar-collapse">
            <form class="navbar-form navbar-right" role="search">
                <div class="form-group form-search is-empty">
                    <input type="text" class="form-control" placeholder="Search">
                    <span class="material-input"></span>
                </div>
                <button type="submit" class="btn btn-white btn-round btn-just-icon">
                    <i class="material-icons">search</i>
                    <div class="ripple-container"></div>
                </button>
            </form>
        </div>
    </div>
</nav>
<div class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-8">
                <div class="card">
                    <div class="card-content">
                        <form method="post">
                            <div class="row">
                                <div class="col-md-10">
                                    <div class="form-group">
                                        <div class="form-group label-floating">
                                            <label class="control-label"> 今どうしてる？</label>
                                            <textarea class="form-control" rows="2"></textarea>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <button type="submit" class="btn btn-rose pull-right">Tweet</button>
                                </div>
                            </div>
                            <div class="clearfix"></div>
                        </form>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header card-header-icon" data-background-color="green">
                        <i class="material-icons">language</i>
                    </div>
                    <div class="card-content">
                        <h4 class="card-title">Timeline</h4>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="table-responsive">
                                    <table class="table table-hover">
                                        <tbody>
                                            <tr>
                                                <td width="50px">
                                                    <div>
                                                        <img class="img-circle" src="{{ url_for('static', filename='img/default-avatar.png') }}">
                                                    </div>
                                                </td>
                                                <td width="100px"><a href="{{ url_for('user.detail', user_id='1') }}">竹内大貴</a></td>
                                                <td>test</td>
                                                <td class="td-actions text-right">
                                                    <button type="button" rel="tooltip" class="btn btn-danger">
                                                        <i class="material-icons">close</i>
                                                    </button>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td width="50px">
                                                    <div>
                                                        <img class="img-circle" src="{{ url_for('static', filename='img/default-avatar.png') }}">
                                                    </div>
                                                </td>
                                                <td width="100px"><a href="{{ url_for('user.detail', user_id='1') }}">竹内大貴</a></td>
                                                <td>test2</td>
                                                <td class="td-actions text-right">
                                                    <button type="button" rel="tooltip" class="btn btn-danger">
                                                        <i class="material-icons">close</i>
                                                    </button>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card card-profile">
                    <div class="card-avatar">
                        <a href="#">
                            <img class="img" src="{{ url_for('static', filename='img/default-avatar.png') }}" />
                        </a>
                    </div>
                    <div class="card-content">
                        <h6 class="category text-gray">Programmer</h6>
                        <h4 class="card-title">竹内大貴</h4>
                        <p class="description">
                            じゅげむ　じゅげむ　ごこうのすりきれ　かいじゃりすいぎょの　すいぎょうまつ　うんらいまつ　ふうらいまつ　くうねるところにすむところ　やぶらこうじのぶらこうじ　ぱいぽ　ぱいぽ　ぱいぽのしゅーりんがん　しゅーりんがんのぐーりんだい　ぐーりんだいのぽんぽこぴーの　ぽんぽこなーの　ちょうきゅうめいのちょうすけ
                        </p>
                        <a href="#" class="btn btn-rose btn-round">プロフィールを編集</a>
                    </div>
                    <div class="card-footer">
                        <div class="pull-left">
                            <p>ツイート</p>
                            <p>12,345</p>
                        </div>
                        <div class="text-center">
                            <p>フォロー</p>
                            <p>12,345</p>
                        </div>
                        <div class="pull-right">
                            <p>フォロワー</p>
                            <p>12,345</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}