{% macro render_field(field, required="", icons="") %}
<div class="input-group">
    {% if icons %}
    <span class="input-group-addon">
        <i class="material-icons">{{ icons }}</i>
    </span>
    {% endif %}
    <div class="form-group label-floating{% if field.errors %} has-error is-focused{% endif %}">
        <label class="control-label">{{ field.label.text }}
            {% if required %}<star>*</star>{% endif %}
        </label>
        {% if required %}
            {{ field(class_="form-control", required="true", **kwargs) }}
        {% else %}
            {{ field(class_="form-control", **kwargs) }}
        {% endif %}
        <span class="help-block with-errors">
        {% for error in field.errors %}
            <p style="margin: 0;" class="has-error">{{error}}</p>
        {% endfor %}
        </span>
    </div>
</div>
{% endmacro %}