<div class="card card-profile">
    <div class="card-avatar">
        <a href="#">
            <img class="img" src="{{ url_for('static', filename='img/default-avatar.png') }}" />
        </a>
    </div>
    <div class="card-content">
        <h6 class="category text-gray">Programmer</h6>
        <h4 class="card-title">竹内大貴</h4>
        <p class="description">
            じゅげむ　じゅげむ　ごこうのすりきれ　かいじゃりすいぎょの　すいぎょうまつ　うんらいまつ　ふうらいまつ　くうねるところにすむところ　やぶらこうじのぶらこうじ　ぱいぽ　ぱいぽ　ぱいぽのしゅーりんがん　しゅーりんがんのぐーりんだい　ぐーりんだいのぽんぽこぴーの　ぽんぽこなーの　ちょうきゅうめいのちょうすけ
        </p>
        <a href="#" class="btn btn-rose btn-round">プロフィールを編集</a>
    </div>
    <div class="card-footer">
        <div class="pull-left">
            <p>ツイート</p>
            <p>12,345</p>
        </div>
        <div class="text-center">
            <p>フォロー</p>
            <p>12,345</p>
        </div>
        <div class="pull-right">
            <p>フォロワー</p>
            <p>12,345</p>
        </div>
    </div>
</div>
